<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
  <display-name>project-three-forum</display-name>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:spring/spring-*.xml</param-value>
  </context-param>
  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  	<init-param>
  		<param-name>forceEncoding</param-name>
  		<param-value>true</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>forum</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:spring/spring-mvc.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>forum</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <!-- 配置对静态资源的处理 -->  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>/resources/*</url-pattern>  
    </servlet-mapping>
    
    <!-- 左侧导航静态资源访问 -->
    <servlet>
   		<servlet-name>gotoTOP</servlet-name>
  		<jsp-file>/WEB-INF/views/jsp/top.jsp</jsp-file>
 	</servlet>
 	<servlet-mapping>
   		<servlet-name>gotoTOP</servlet-name>
   		<url-pattern>/top</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
   		<servlet-name>gotoForum</servlet-name>
  		<jsp-file>/WEB-INF/views/jsp/forumlist.jsp</jsp-file>
 	</servlet>
 	<servlet-mapping>
   		<servlet-name>gotoForum</servlet-name>
   		<url-pattern>/forum/notes/forumlistByparentmodules</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
   		<servlet-name>gotoMain</servlet-name>
  		<jsp-file>/WEB-INF/views/jsp/main.jsp</jsp-file>
 	</servlet>
 	<servlet-mapping>
   		<servlet-name>gotoMain</servlet-name>
   		<url-pattern>/main</url-pattern>
  	</servlet-mapping>
  	
  	
  	<!-- member导航静态资源访问 -->
    <servlet>
   		<servlet-name>mem_top</servlet-name>
  		<jsp-file>/WEB-INF/views/member/memfor/mem_top.jsp</jsp-file>
 	</servlet>
 	<servlet-mapping>
   		<servlet-name>mem_top</servlet-name>
   		<url-pattern>/mem_top</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
   		<servlet-name>mem_forum</servlet-name>
  		<jsp-file>/WEB-INF/views/member/memfor/mem_forumlist.jsp</jsp-file>
 	</servlet>
 	<servlet-mapping>
   		<servlet-name>mem_forum</servlet-name>
   		<url-pattern>/forum/notes/memForumlist</url-pattern>
  	</servlet-mapping>
  
</web-app>
